<div class="audio-player">
    <audio id="audioPlayer" controls>
        Tu navegador no soporta el elemento de audio.
    </audio>
</div>

<script>
    let audioPlayer = document.getElementById("audioPlayer");

    function reproducirCancion(archivo) {
        if (audioPlayer.src.includes(archivo)) {
            if (audioPlayer.paused) {
                audioPlayer.play();
            } else {
                audioPlayer.pause();
            }
        } else {
            audioPlayer.src = "/songs/" + archivo;
            audioPlayer.play();
        }
    }
</script>
